textarea {
	width: 450px;
	height: 220px;
}

div#edit {
	display: none;
	top: 0px;
	height: 280px;
}

div#fixed {
	display: none;
	height: 280px;
	width: 100%;
	position: fixed;
	border-bottom: 5px black dashed;
}

div#fixed > div {
	height: 280px;
	background: black url(rad.gif);
}

#shade {
	position: fixed;
	top: 0px;
	right: 25px;
	padding: 25px;
	cursor: pointer;
}