/* @override http://technically.us/css/edit.css */

textarea {
	width: 450px;
	height: 200px;
}

div#edit {
	top: 0px;
	height: 300px;
}

div#edit > div {
	width: 100%;
	position: fixed;
	background: black url(rad.gif);
	padding-bottom: 10px;
	border-bottom: 5px white dashed;
}

