body {
	padding-top: 300px;
}

textarea {
	width: 450px;
	height: 200px;
}

div#edit >div {
	background: black url(rad.gif);
	height: 300px;
	padding-bottom: 10px;
}

div#edit {
	top: 0px;
	width: 100%;
	position: fixed;
	border-bottom: 5px black dashed;
}