.container { width: 470px; }

body {
	font-family: "DejaVu Serif", "Lucida Bright", Georgia, serif;
	font-size: 85%;
	background-color: #999999;
	padding: 3em 0;
}

body, h1, h2, h3, h4, h5, h6, a {
	color: white;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

li { display: inline; }
li a { margin-right: 3em; }