<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" metadata-complete="true">
  <servlet>
    <servlet-name>slinky</servlet-name>
    <servlet-class>slinky.http.servlet.StreamStreamServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>net.friday.App</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>slinky</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
